.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.vangoghComponentTop {
  padding-top: 85px;
}

.vangogh {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeMessage {
  align-items: center;
}

.she {
  aspect-ratio: 1 / 1;
  flex-grow: 1;
  height: 315px;
  align-items: center;
}

.stacks {
  width: 64px;
}

.techName {
  list-style: none;
  display: flex;
  text-align: center;
  width: 100%;
}

.techIcon {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.techIconPadding {
  padding-top: 6em;
}

.portfolioPadding {
  padding-top: 2em;
}

.secondaryItemPortPadding {
  padding-top: 6em;
}

.mobilePic {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding-bottom: 1em;
}

.blogPhoto {
  display: flex;
  justify-content: space-around;
}

.tictactoe {
  display: flex;
  justify-content: center;
}

.javascriptclock {
  display: flex;
  justify-content: center;
}

.footer {
  padding-top: 70px;
}

.clockPhoto {
  max-width: 60%;
}
