* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav {
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
}

body {
  background-color: #1f2f2c;
}

.container {
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.row {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  align-items: center;
}

.row2 {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.row3 {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: white;
  color: black;
}

.socialIcon {
  max-width: 32px;
  margin-left: 1em;
}

.home {
  display: flex;
  justify-content: center;
}

.vanGogh {
  margin-top: 3em;
  max-width: 32%;
  color: white;
}

.middleHome {
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.headline {
  margin: 5em;
  max-width: 100%;
  border: #0b5a4b;
  border-width: 2px;
  color: white;
}

.she {
  width: 300px;
  height: auto;
}

.col {
  list-style: none;
}

.stacks {
  width: 64px;
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  align-items: center;
  background-color: white;
}
