.globalContainer {
  width: 70%;
  justify-content: space-around;
}

.showCaseContainer {
  width: 70%;
  justify-content: space-between;
}

/* .navbar {
  position: fixed;
  top: 0;
  width: 100%;
} */

.vangoghComponentTop {
  padding-top: 85px;
}

.vangogh {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase {
  align-items: center;
}

.blockUp {
  font-size: xx-large;
}

.compass {
  width: 80%;
  min-width: 50%;
}

.compassCol {
  display: flex;
  justify-content: end;
  padding-right: 3em;
}

.homeMessage {
  align-items: center;
}

.she {
  width: 65%;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 10px 24px 0 rgba(0, 0, 0, 0.2);
}

.stacks {
  width: 64px;
}

.techName {
  list-style: none;
  display: flex;
  text-align: center;
  width: 100%;
}

.techIcon {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.techIconPadding {
  padding-top: 3em;
}

.portfolioPadding {
  padding-top: 1em;
}

.secondaryItemPortPadding {
  padding-top: 3em;
}

.mobilePic {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding-bottom: 1em;
}

.blogPhoto {
  display: flex;
  justify-content: space-around;
}

.tictactoe {
  display: flex;
  justify-content: center;
}

.javascriptclock {
  display: flex;
  justify-content: center;
}

.footer {
  padding-top: 70px;
}

.clockPhoto {
  max-width: 60%;
}

/* .ResumeContainer {
  max-width: 75%;
  min-width: 75%;
} */

.resumePadding {
  padding-top: 60px;
}

.topCity {
  display: flex;
  justify-content: center;
  color: gray;
  /* padding-bottom: 1em; */
}

.resumeContacts {
  justify-content: center;
}

.resumeContactCol {
  display: flex;
  justify-content: center;
}

.topEmail {
  display: flex;
  justify-content: center;
  color: gray;
  /* padding-bottom: 1em; */
}

.topPhone {
  display: flex;
  justify-content: center;
  color: gray;
  /* padding-bottom: 1em; */
}

.linkedInResume {
  display: flex;
  justify-content: start;
  color: darkcyan;
  font-weight: bold;
}

.linkedInResumeLink {
  color: tan;
  font-weight: 200;
}

.personalPortfolio {
  display: flex;
  justify-content: center;
  color: darkcyan;
  font-weight: bold;
}

.portfolioResumeLink {
  color: tan;
  font-weight: 200;
}

.gitHubResume {
  display: flex;
  justify-content: end;
  color: darkcyan;
  font-weight: bold;
}

.gitHubResumeLink {
  color: tan;
  font-weight: 200;
}

.objectiveTitle {
  color: darkcyan;
  font-weight: bold;
  display: flex;
  justify-content: start;
}

.objectiveText {
  display: flex;
  justify-content: start;
}

.objectiveList {
  margin: 0;
  padding: 0;
}

.educationTitle {
  color: darkcyan;
  font-weight: bold;
  display: flex;
  justify-content: start;
}

.southEasternLogo {
  width: 75%;
}

.employerTitle {
  color: darkcyan;
  font-weight: bold;
  display: flex;
  justify-content: start;
}

.employerName {
  font-weight: bold;
}

.jobTitle {
  font-weight: 300;
}

.jobCity {
  font-weight: 100;
}

.jobTerm {
  font-weight: 100;
  display: flex;
  justify-content: end;
}

.dealerTrackDates {
  font-weight: bold;
  display: flex;
  justify-content: end;
}
